*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formularioContenedor{
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #66ec9e;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.formularioContenedor input{
    margin: 0.3rem 0.5rem;
}

/* NAV BAR*/
body{
    background-color: #91bde3e6;
}

.main-title{
    text-align: center;
    font-size: 3rem;
}

.product-list-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    justify-content: center;
}

.product-item{
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #ee6e73;
    width: 300px;
    height: 310px;
    margin: 40px;
}

#item-title{
    font-size: 2rem;
}

.price-tag{
    font-weight: bolder;
}

.stock-tag{
    font-size: 120%;
    color: #555;
    margin: 5px;
}

.thumbnail-container{
    width: 12rem;
    height: 10rem;
    display: flex;
    justify-content: center;
}

.thumbnail-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#no-image{
    color: #555;
}

#see-cart-button{
    padding: 0.6rem;
    background: none;
    border: 1px solid;
    color: #fffca4;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
}

button#add-to-cart-button {
    padding: 8px;
    border: 1px;
    border-radius: 5px;
}
button#add-to-cart-button:hover{
    color:#ee6e73,

}

.contenedor-login {
    display: flex;
    width: auto;
    height: 90%;
    margin: 50px;
    top: 1px;
    position: absolute;
}

.img-login {
    display: flex;
}

img.nav-img {
    width: 100%;
    border-radius: 10px
}

.box-login {
    margin-left: 30px;
    border: 1px solid #2395b7;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.contenedor-user {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-user {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: white;
    width: 600px;
    height: 650px;
    padding: 30px;
    border-radius: 20px;
}

.cart-user img {
    border-style: none;
    border-radius: 100%;
    width: 200px;
    border: 1px solid black;
}

.cart-user h3{
    text-align: center;
    border-bottom: 1px solid;
    margin-top: 50px;
    color: #555555e1;
}

span.btn.btn-danger {
    margin: 20px;
}