<div>
  <form action="/api/sessions/login" method="post">
      <div class="container-form">
 
           <div class="input-field col s12">
                <input type="email" class="validate" name="email">
                <label for="disabled">Email</label>
                <span class="helper-text" data-error="Introduce a valid email" data-success="right"></span>
            </div>

          <div class="input-field col s12">
                    <input type="password" class="validate" name="password">
                    <label for="password">Password</label>
          </div>

      </div>

        <div class="contenedor-button">
            <button type="submit" class="btn login-button">Send</button>
        </div>

    </form>
</div>

 <h3>Or...</h3>
<a href="/api/session/github"><button class="waves-effect waves-light btn-small github-login">Sign in with Github</button></a>

<a href="/register" class="signup-anchor">Are you new? Sign up!</a>





