     <nav>
        <div class="nav-wrapper container">
        <a href="/api/products" class="brand-logo">Bebidas E-commerce</a>
        <ul id="nav-lista" class="right hide-on-med-and-down">
            <li><a href="/api/products">Home</a></li>
            <button id="see-cart-button" onclick="seeCart(event)">See Cart</button>
            <li><a href="/api/profile">Profile</a></li>
        </ul>
        </div>
    </nav>
<div class="contenedor-user">
    <div class="cart-user">
        <img src={{img}} alt="">
        <h2>{{last_name}}, {{first_name}}</h2>
        <h4>tu campo es: {{campo}}</h4>
        <h3>Bienvenido a tu cuenta de CocaCola Company!</h3>
    </div>
    <span class="btn btn-danger" onclick="return logout()">Logout</span>
</div>

<script>
      function logout () {
      window.location.href = '/api/logout';
    };
</script>