*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #8deeb5;
}

.formularioContenedor{
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #66ec9e;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.formularioContenedor input{
    margin: 0.3rem 0.5rem;
}

/* NAV BAR*/
#nav-lista{
 color: red;
}

